*{
    margin:0;
    padding: 0;
}
.nav-tabs {
    background-color: #8BA3C7;
    width: 100%;
}

.nav-tabs>li {
    color: white;
    font-size: 16px;
    /* z-index: 2; */
}
#navi{
    display: block;
}
#my-slider {
    width: 50%;
    /* height: 100%; */
    color: white;
    float:left;
}
.crs-screen-roll{
    position: relative;
}
#introduction{
    /* background-color: lightblue; */
    width:50%;
    /* height: 800px; */
    float:left;
    position: relative;
}
#introduction>h1{
    color:#003460;
    text-align: center;
    margin-top: 50px;
}
#introwords{
    clear: both;
    padding-left:70px;
    padding-top: 30px;
    color:#354E6B;
    text-align: left;
    margin-top:250px;
    font-size: 20px;
}
#introduction>div>p>span{
    font-weight: 600;
}
#myname{
    font-size: 30px;
}
@media (max-width: 640px) {
    #my-slider .crs-bar-roll-current {
        width: 9px;
        height: 16px;
    }

    #my-slider .crs-bar-roll-item {
        width: 9px;
        height: 16px;
    }
}
.intropic>div{
    float:left;
    overflow: hidden;
    width: 30%;
    /* margin-left:-40px; */
}
.intropic{
    margin-top:100px;
    width: 100%;
}
.intropic div:nth-child(1){
    margin-left:10px;
}
.intropic img{
    width:100%;
    /* height:200px; */
}
.intropic p{
    text-align: left;
    color: #354E6B;
    font-size: 15px;
}
.travel-des{
    width: 100%;
    margin:15px auto;
    text-align: center;
    font-size: 15px;
}
.panel-title a:hover,.panel-title a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 10px;
    background: transparent;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 5px;
    background: transparent;
    position: relative;
}
#accordion .panel-title a{
    display: block;
    padding: 20px 30px;
    margin: 0;
    background: #003460;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    position: relative;
}
#accordion .panel-title a.collapsed{ border: none; }
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 30px;
    transform: rotate(180deg);
    transition: all .4s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}
#accordion .panel-title a.collapsed:before{
    color: rgba(255,255,255,0.5);
    transform: rotate(0deg);
}
#accordion .panel-body{
    padding: 20px 30px;
    font-size: 15px;
    color: black;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: none;
    border-radius: 5px;
}
.travel div{
    display: flex;
}
.travel-image{
    height: 400px;
    width: 300px;
}
.travel-image image{
    width: 100%;
}
.travel-image video{
    width: 100%;
}
.workimage{
    width:100%;
}
.work{
    margin-top:100px;
    border-bottom:2px solid #8BA3C7;
}
.describe{
    margin-left:50px;
}
.describe h3{
    font-weight: 600;
}
.workimage img{
    width: 25%;
    margin-left:30px;
}
#fiver{
    width:500px;
}
.icon{
    width: 30px;
    height: 30px;
    /* vertical-align: -0.15em; */
    fill: currentColor;
    overflow: hidden;
    vertical-align: middle;
}
.contacts{
    margin:100px auto;
    height: 400px;
    width: 600px;
    /* background-color: lightblue; */
}
.icon:hover{
    width: 60px;
    height: 60px;
    transition: all 0.3s linear;
}
.eachcontact{
    display: flex;
    /* padding-left:150px; */
}
.smalllogo{
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}
.contacts-details{
    margin-left: 30px;
}
@media (max-width: 600px){
    #introduction{
        float:none;
        width:100%;
        /* margin-top:50px; */
    }
    #introduction h1{
        font-size:25px;
    }
    #myname{
        font-size: 18px;
    }
    #my-slider{
        padding-top:0px;
        width: 100%;
        margin-top:0px;
    }
    #introwords{
        padding-left:10px;
        margin-top: 10px;
        font-size: 16px;
    }
    .describe h4{
        font-size: 10px;
    }
    .describe h3{
        font-size: 16px;
    }
    .describe{
        margin-left:15px;
    }
    .collapsed{
        font-size: 10px !important;
    }
    #fiver{
        width: 90%;
    }
    #navi li{
        width: 20%;
        height: 100%;
        z-index: 4;
        font-size:5px;
    }
    .tab-content{
        margin-top:0px;
    }
    .travel-des{
        font-size: 10px;
    }
}
@media (max-width: 600px){
    #navi li a{
        font-size:3px;
    }
}
@media (max-width: 390px){
    #navi li a{
        font-size: 3px !important;
    }
}
@media (max-width: 360px){
    .travel-des{
        font-size: 7px;
    }
    .travel-image img{
        width:80%;
        height: auto;
    }
    .travel-image video{
        width:80%;
        height: auto;
    }
}
@media (max-width: 300px){
    .travel-image img{
        width:60%;
        height: auto;
    }
    .travel-image video{
        width:60%;
        height: auto;
    }
}
